.magic-box-page__filter-chip-capsule.ld-magicbox-magicBox {
  border: 2px solid var(--ld-semantic-color-field-border-magic, var(--ld-semantic-color-border-magic-start, #0053e2));
}

.magic-box-page__filter-chip-capsule .ld-magicbox-magicGlowContainer {
  display: none;
}

.magic-box-page__filter-chip.px-filter-chip--selected {
  background-color: var(--ld-semantic-color-loading-magic-subtle, #e9f1fe);
}

.magic-box-page__filter-chip .px-filter-chip__icon-leading {
  color: var(--ld-semantic-color-text-magic-start, #0053e2);
}