/* LD Portable – LayoutContainer */
/* LayoutContainer */
.ld-layoutcontainer-layoutContainer {
  display: inline-block;
  position: relative;
}

.ld-layoutcontainer-content {
  z-index: 100;
  left: 0;
  position: absolute;
  top: 0;
}
